
/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.App {
  text-align: center;
  border:solid black;
  height: 500vh;
  margin: 2em;
  display:flex;
}

.homepage{
  border: solid peru;
  width: 50%
}
.employeepage{
  border: solid brown;
  width: 50%
}
.header{
  border: solid lightblue;
  height: 40px;
}
.searchbar{
  border: solid green;
}
.employeelistitem{
  border: solid red;
  margin: 1em;
}
.selectorContainer{
  border: solid black;
  border-width:.2px;
  display:flex;
  justify-content: space-between;
  margin: 1em;
}
.optionBox{
  border: solid navy;
}
.PersonalTitle, .personalNumber{
  /* border: solid black; */
  font-size:15px;
  text-align: center;
  padding:2px;
}
.arrow{
  height:30px;
  margin-top:5%;
}